@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{

    background-image: url('./white_carbonfiber/white_carbonfiber_@2X.png');
}


body{
   max-width: 100%;
   overflow-x: hidden;
   

}

#app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}


header{
    position: fixed;
    z-index: 1;
    background: #1F6988 ;
    height: 10vh;
    width: 100%; 
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;

}

.name-top{

    margin: 45px 0 0 10px;
    font-family: 'Electrolize', sans-serif;
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
}

.icon-links{
    width: 175px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    font-size: 40px;
}

#linked-in{
    color: black;
} 

#git-hub{
    color: white;
}

#e-mail{
    color: #bd3838;
}

nav{
    display: flex;
    margin: 50px 5px 0 0;
    font-weight: bold;
}


nav > a{

    color: white;
    margin: 0 10px;
    font-family: 'Electrolize', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;

}

nav>a:hover{
    text-decoration: underline;
}

.pointer{
    cursor: pointer;
}

/* --------------------------------------------- */

.one{
    height: 100%;
}

 .cont{
    display: flex;
    flex-direction: column;

}

.first{
    margin-top: 12vh;
    height: 100%;
    width: 100%;
}

.myname{
    font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-left: 50px;
} 

.first{
    color: #212529;
}

.last{
    color: #bd3838;
}


.imgcont{

    display: flex;
    justify-content: center;
    margin: 50px 0 100px;
    
}


#sky{
    

    border-radius: 8px;
    box-shadow: 5px 5px 15px #212529;
    width: 700px;


}


.quote{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2rem;

    text-align: right;
    color: #212529;

    margin-right: 40px;

} 

.author{
    color: #bd3838;
}

/* ----------------------------------------- */
@media screen and (max-width: 900px){
 
    .myname{
        width: 100%;
        margin: 0;
    }

    .first{
        display: flex;
        justify-content: center;
    }

    .last{
        margin-left: 10px;
    }

    .quote{
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        margin: 0;
        
    }

    .name-top{
        font-size: 2.0rem;
    }

    nav > a {
        font-size: 1.8rem;
    }

    .icon-links{
        width: 150px;
        margin-top: 50px;
        font-size: 30px;
    }
 
}


@media screen and (max-width: 830px){
    
    .name-top{
        font-size: 1.8rem;
    }
    
    nav > a {
        font-size: 1.5rem;
        margin: 0 5px;
    }

    .quote{
        font-size: 1.4rem;
       
    }

    .icon-links{
        width: 120px;
    }

    #sky{
        width: 600px;
    }
 
}

@media screen and (max-width: 690px){
    
    .name-top{
        margin-top: 55px;
        font-size: 1.5rem;
    }
    
    nav{
        margin-top: 60px;
    }

    nav > a {
        font-size: 1.3rem;
    }

    .quote{
        font-size: 1.3rem;
       
    }

    .icon-links{
        margin-top: 55px;
        width: 110px;
        font-size: 25px;
    }

    .myname{
        font-size: 3.2rem;
    }

 
}

@media screen and (max-width: 675px){

    .myname{
        font-size: 2.8rem;
    }

    .imgcont{

        margin: 15px 0 50px;
        
    }

    #sky{
        width: 500px;
    }

    .quote{
        font-size: 1.2rem;
       
    }
 
}

@media screen and (max-width: 600px){
     header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12vh;
     }

     .name-top{
         margin: 0;
     }

    .icon-links{
        margin: 5px 0;
        width: 120px;
        font-size: 30px;
    }

    nav{
        margin: 0;
    }
}
/* @media screen and (max-width: 590px){
     header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12vh;
     }

     .name-top{
         margin: 0;
     }

    .icon-links{
        margin: 5px 0;
        width: 120px;
        font-size: 30px;
    }

    nav{
        margin: 0;
    }
} */

@media screen and (max-width: 535px){

    .myname{
        font-size: 2.3rem;
    }

    .first{
        margin-top: 18vh;
    }

    #sky{
        width: 400px;
    }

    #quote{
        display: flex;
        flex-direction: column;
    }

}

