.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.titleproj{
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    color: #212529;
    margin-top: 11vh;

}

#title-projects{
    color: #bd3838;
}

#projcells{
    height: auto;
    display: flex;
    justify-content: center;
}

.theprojects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    margin: 15px 0 10px 0;
}

.card-front, .card-back{

    
    width: 30vw;
    height: 20vw;

    display: flex;
    flex-direction: column;
    align-items:center;

    border: 3px solid black;
    border-radius: 5px;


}

.card-back{

    justify-content: space-between;
    background-color: #1f68885b;

}


.card-front{

    justify-content:flex-end;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative; 
}

.proj1{

    width: 30vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.title1{

    font-family: 'Electrolize', sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: #bd3838;
    margin-top: 25px;
    width: auto;
    height: auto;
    padding: 5px;
    border: 5px solid black;
    border-radius: 8px;

}

.description{
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    text-align:left;
    margin-top: 10px;
    
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 125px;
}

#gitlink{
    font-size: 80px;
    color: #212529;
}

#deploylink{
    font-size: 30px;
    margin-left: 20px;
    color: gold;
}



.flipper{
    margin-bottom: 5px;
}

#flip-button{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.726);
    color: #bd3838;
    font-size: 40px;
    
}

#cell5{
    background-color: #0000005b;
    background-size: 60% 95%;
    background-repeat: no-repeat;
}

#desc1, #desc2, #desc5{
    margin-left: 30px;

}

/* ----------------------------------------------------- */

@media screen and (max-width: 1680px){
    
    #desc4, #desc6{
        width: 420px;
    }

}
@media screen and (max-width: 1560px){
    
    #desc3, #desc8{
        width: 380px;
    }

}
@media screen and (max-width: 1430px){
    
    .title1{
        margin-top: 20px;
        font-size: 1.2rem;
    }
    .description{
        font-size: 1rem;
    }
    #gitlink{
        font-size: 70px;
    }

    #desc4,#desc6, #desc8{
        margin-left: 40px;
    }
    
    #desc5{
        margin-left: 20px;
    }
    
    
    #deploylink{
        font-size: 25px;
   }

}
@media screen and (max-width: 1320px){
    
    #desc3{
        width: 300px;
    }
    #desc4{
        margin-left: 0;
        width: 330px;
    }
    #desc5{
        width: 350px;
    }
    #desc6{
        width: 360px;
    }
}
@media screen and (max-width: 1250px){
    
    .theprojects{
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    .card-front, .card-back{

        width: 500px;
        height: 300px;
    
    }

    .title1{
        font-size: 1.3rem;
    }
 
    #desc1,#desc2,#desc3,#desc4,
    #desc5,#desc6,#desc7,#desc8,#desc9{
        margin: 0;
        width: auto;
    }


    .description{
        font-size: 1.1rem;
        
    }

   #desc1, #desc2, #desc4, #desc5, #desc6{
        width: 415px;
    }

}

@media screen and (max-width: 590px){
    .titleproj{
        margin-top: 13vh;
    }
}

@media screen and (max-width: 550px){
    .card-front, .card-back{

        width: 400px;
        height: 275px;
    
    }

    #description{
        margin-top: 10px;
    }

    .description{
        font-size: 0.95rem;
    }

    #desc1, #desc2, #desc3, #desc4, #desc5, #desc8{
        width: 340px;
    }

    #desc6{
        width: 350px;
    }

    #flip-button{
        font-size: 32px;
    }

}

@media screen and (max-width: 535px){
    .titleproj{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 412px){

    .name-top{
        margin-right: 50px;
    }
    .icon-links{
        margin-right: 50px;
    }
    .sticky-nav{
        margin-right: 30px;
    }

    .projects{
        margin-left: 20px;
    }

    .card-front, .card-back{

        width: 350px;
        height: 250px;
    
    }

    .title1{
        margin-top: 8px;
    }

    #desc1, #desc2, #desc4, #desc5, #desc8{
        width: 340px;
        margin-left: 12px;
    }

    #desc2{
        margin-left: 20px;
    }

    #desc3{
        width: 300px;
        margin-left: 5px;
    }

    #desc6{
        width: 260px;
    }

    #desc8{
        margin-left: 30px;
    }

}